<div class="gallery">

    <figure class="gallery__item gallery__item--2">
        <img src="/assets/img/landing_image_brain_angio.png" class="gallery__img" alt="Image 1">
    </figure>

    <figure class="gallery__item gallery__item--1">
        <img src="/assets/img/landing_image_brain_scan.png" class="gallery__img" alt="Image 2">
    </figure>

    <figure class="gallery__item gallery__item--3">
        <img src="/assets/img/landing_image_brain_seg.png" class="gallery__img" alt="Image 3">
    </figure>


    <div class="gallery__item gallery__item--5">
        <p class="gallery__text">
            <strong>ADMIT </strong> is an project which aims to improve decision making in acute stroke. 
            Researchers from the University of Exeter have already demonstrated that <a href="https://arc-swp.nihr.ac.uk/research/projects/samuel/">artificial intelligence is able to make clinically useful predictions</a>  about who will benefit from acute stroke treatments such as thrombolysis and mechanical thrombectomy.   
            ADMIT will build on this success by incorporating valuable data found in brain scans taken at the time of the stroke and prior to the stroke.  It is hoped that by making data driven predictions available to clinicians at the point of treatment, avoidable complication of these treatments can be prevented, saving lives and reducing life changing disability.
            To find out more click
            <a href="the_project.html">here</a>.
        </p>

    </div>
</div>