
<div class="infographic-row">
    <div class="infographic-section">
        <div class="infographic-sub-row">
            <div class="infographic-sub-section">
                <p>In the last decade, life-saving treatment through acute stroke has been developed which  have prevented people developing life changing disability.   These treatments involve strategies to remove clots blocked the blood vessels in the brain causing strokes.   Unfortunately these treatments also in a minority of cases cause life changing complications such as bleeds on the brain.  Based on the profile of the patient and the clinical presentation at the stroke it is possible to predict who is likely to benefit from these treatments.  
                    
                    <a href="https://arc-swp.nihr.ac.uk/research/projects/samuel/">The stroke audit machine learning project (Samuel)</a> has demonstrated that artificial intelligence  can predict who will respond well to these treatments.
                
                <br>
                <br>

                    Significant amounts of information which could help predict who will benefit from treatment with intravenous thrombolysis or thrombectomy is contained in pictures brain scans which are taken on all patients who have had a stroke.   We believe that this information could significantly improve the accuracy of the predictions made and help clinicians make better decisions.   This project will be delivered in three stages
                    
                </p>
            </div>
        </div>
    </div>

</div>


<div class="infographic-section timeline">
    <div class="timeline-container">
        <div class="timeline-content">

            <h3 class="timeline-content-title">PHASE I - model training</h3>
            <p>We will use MRI scan and GP data related to 10,000 stroke cases and 20,000 controls to build a model which attempt to predict the risk of brain haemorrhage and likely level of disability after treatment with Intravenous thrombolysis and/or mechanical thrombectomy.  We will then explore the factors driving this model using advanced explainability techniques. This will allow us to understand the basis of the predictions made  </p>
        </div>
    </div>

    <div class="timeline-container">
        <div class="timeline-content">

            <h3 class="timeline-content-title">PHASE II - External Validation</h3>
            <p>In order to ensure the predictions our model is making are accurate, we plan to test whether it can accurately predict the outcome Intravenous thrombolysis and/or mechanical thrombectomy in data drawn from other healthcare centres representing the diversity of the UK . This will involve building new datasets extracted from other UK Healthcare providers and applying the model to them to see if it works.</p>
        </div>
    </div>

    <div class="timeline-container">
        <div class="timeline-content">

            <h3 class="timeline-content-title">PHASE III</h3>
            <p>Having engaged with stroke survivors, carers, members of the public and healthcare professionals to understand the best way to communicate the predictions made in the model, we hope to use them to target personalized treatments help guided treatment decision in acute stroke</p>
        </div>
    </div>
</div>
